.menu {
    position: fixed;
    bottom: 0;
    z-index: 2;
}

.menu-navigation {
    padding: 0.5em;
    display: flex;
    justify-content: center;
    gap: 2em;
    align-items: baseline;
    width: calc(100vw - 1em);
    border-radius: 12px 12px 0px 0px;
    background: var(--color-card-background);
    box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.06);
}

.menu-navigation__item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--color-text-menu);
    font-size: 0.75rem;
    font-weight: 400;
}

.menu-navigation__item:first-child a:first-child {
    color: var(--color-adress-button);
}

.menu-new-appointment {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    gap: 1em;
    margin: 1em;
}


.menu-new-appointment button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: var(--color-adress-button);
    border-radius: 100%;
    border: none;
    filter: drop-shadow(0px 4px 16px rgba(72, 148, 255, 0.50));
    width: 56px;
    height: 56px;
}

.menu-new-appointment__option {
    display: flex;
    align-items: center;
    gap: 1em;
}

.menu-new-appointment__option p {
    font-size: 0.75rem;
    color: var(--color-text-main);
    padding: 2px 8px;
    border-radius: 2323px;
    background-color: var(--color-card-background);
}

.hidden {
    display: none;
}

